<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.aziflaj.exchangeagram"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-feature
        android:name="action.hardware.camera"
        android:required="false"/>

    <application
        android:name=".ExchangeagramApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/key.parse.app_id"/>
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/key.parse.client"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".UserListActivity">
        </activity>
        <activity android:name=".UserFeedActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserListActivity"/>
        </activity>
    </application>

</manifest>
